<div class="container-fluid">
    <form name="loginform" ng-submit="ctrl.submit(loginform)">
        <div class="col-xs-6 col-xs-offset-3">
            <div class="form-group">
                <label for="username">Email</label>
                <input type="text" class="form-control" name="username" placeholder="Email" required
                        ng-model="ctrl.username">
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" placeholder="Password" required
                        ng-model="ctrl.password">
            </div>
            
            <button type="submit" class="btn btn-primary">Login</button>
    </form>
    </div>
</div>