<div class="container-fluid">
    <form name="logform" novalidate ng-submit="$ctrl.submit(logform)">
        <div class="col-xs-8 col-xs-offset-1">

            <div class="banner">
                <div class="alert-danger" ng-show="showFormError()">Please fix errors.</div>
            </div>

            <div class="form-title">{{$ctrl.title}}</div>

            <div class="row">
                <div class="col-xs-6">
                    <input-text name="date" label="Date" placeholder="Event Date" 
                        tooltip="Enter the date the the event occured" 
                        ng-model="$ctrl.model.date"
                        required="true" 
                        form="logform"
                        ng-disabled="!$ctrl.editing">
                    </input-text>
                </div>
                <div class="col-xs-6">
                    <input-text name="miles" label="Miles" ng-model="$ctrl.model.miles" required="true" ng-disabled="!$ctrl.editing">
                    </input-text>
                </div>
            </div>

            <input-text name="event" label="Event" ng-model="$ctrl.model.event" required="true" ng-disabled="!$ctrl.editing">
            </input-text>

            <input-text name="note" label="Note" ng-model="$ctrl.model.note" ng-disabled="!$ctrl.editing">
            </input-text>

            <input type="hidden" ng-model="$ctrl.model.id">

            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-primary pull-right" ng-disabled="!$ctrl.editing">Save</button>
                    <button type="button" class="btn btn-default pull-right" ng-disabled="$ctrl.editing" ng-click="$ctrl.add()">Add</button>
                </div>
            </div>
            <hr/> <pre>{{$ctrl.model | json}}</pre>
            <!-- <hr/> <pre>{{logform | json}}</pre> -->
        </div>
    </form>

    <hr/>
    <br/>
    <div class="row">
        <div class="col-xs-12">
            <input-table name="logs" 
                         label="Maintenance Logs"
                         value="$ctrl.logs" 
                         columns="$ctrl.columns" 
                         editmethod="$ctrl.edit(item)"
                         removemethod="$ctrl.remove(item)">
            </input-table>
        </div>
    </div>
    
</div>