<div class="container-fluid">
    <form name="loginform" novalidate ng-submit="$ctrl.submit(loginform)">
        <div class="col-xs-6 col-xs-offset-3">

            <div class="alert alert-danger" ng-show="showFormError()">Please fix errors.</div>
            
            <input-text name="username"
                        label="User Name"
                        placeholder="User Name"
                        tooltip="User name or email"
                        value="$ctrl.username"
                        required="true"
                        form="loginform">
            </input-text>
            
            <input-text name="password"
                        label="Password"
                        value="$ctrl.password"
                        required="true"
                        min-length="6">
            </input-text>
           
            <button type="submit" class="btn btn-primary">Login</button>
            
            <hr/>
            <pre>{{$ctrl | json}}</pre>
            <pre>{{$ctrl.form | json}}</pre>
    
        </div>
    </form>
</div>
