<ul class="nav navbar-nav">

    <li ng-repeat="menu in $ctrl.menus" class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{menu.title}}
                <b class="caret"></b>
            </a>
            <ul  class="dropdown-menu">
                <li ng-repeat="link in menu.menus" ng-class="{ 'link-group': link.group }"> 
                    <span ng-if="true || link.group">{{link.group}}</span>
                    <a ng-if="link.href" href="{{link.href}}" target="_blank">{{link.title}}</a>
                    <a ng-if="link.view" ui-sref="{{link.view}}">{{link.title}}</a>
                </li>
            </ul>
    </li>
</ul>
