<div class="form-group"
    ng-class="{'has-error': $ctrl.form[$ctrl.name].$invalid && ($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted)}">

    <input-label name="{{$ctrl.name}}" 
                 label="{{$ctrl.label}}"
                 tooltip="{{$ctrl.tooltip}}">
    </input-label>

    <input type="text" 
           class="form-control"        
           name="{{$ctrl.name}}" 
           placeholder="{{$ctrl.placeholder}}"
           ng-required="$ctrl.required" 
           ng-minlength="$ctrl.minLength"  
           ng-model="$ctrl.internalValue"
           ng-change="$ctrl.change()">
    
    <ng-messages class="help-block" 
        for="$ctrl.form[$ctrl.name].$error"
        ng-show="$ctrl.form[$ctrl.name].$invalid && ($ctrl.form[$ctrl.name].$dirty || $ctrl.form.$submitted)">
        <ng-message when="required">{{$ctrl.label}} is required.</ng-message>
        <ng-message when="minlength">{{$ctrl.label}} must be at least {{$ctrl.minLength}} characters.</ng-message>
    </ng-messages>

</div>
