<div class="form-group"
    ng-class="{'has-error': $ctrl.showError()}">

    <input-label name="{{$ctrl.name}}" 
                 label="{{$ctrl.label}}"
                 tooltip="{{$ctrl.tooltip}}">
    </input-label>

    <input type="text" 
           class="form-control"        
           name="{{$ctrl.name}}" 
           placeholder="{{$ctrl.placeholder}}"
           ng-pattern="$ctrl.pattern"
           ng-required="$ctrl.required" 
           ng-minlength="$ctrl.minLength"  
           ng-model="$ctrl.internalValue"
           ng-model-options="{ allowInvalid: true, updateOn: 'blur', debounce: 200 }"
           ng-change="$ctrl.change()">
  
    <input-messages form="$ctrl.form"  
                    name="$ctrl.name"
                    label="{{$ctrl.label}}"
                    show-error="$ctrl.showError()">
    </input-messages>
</div>
